<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body class="flex items-center justify-center py-20">
    <div id="app" class="text-center flex flex-col justify-center items-center">
		<div>
            <div v-if="success" class="w-20 h-20 rounded-full bg-green-500 flex items-center justify-center mb-4">
                <svg class="w-12 h-12 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
            </div>
            <div v-if="!success" class="w-20 h-20 rounded-full bg-red-500 flex items-center justify-center mb-4">
                <svg class="w-12 h-12 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </div>
		</div>

        <div v-if="!success">
            <h2 class="text-4xl"Transaction Failed></h2>
        </div>

        <div class="py-6">
            <h1 class="font-bold text-4xl" :class="{'text-green-500': success, 'text-red-500': !success}">{{ message }}</h1>
        </div>
        <div v-if="success">
            <div>
                <h4 class="font-bold text-lg text-gray-500">Your code is</h4>
                <h1 class="font-bold text-3xl lg:text-5xl text-gray-900">{{ code }}</h1>
            </div>
            <div class="mt-4">
                <div id="qrcode"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        function getQueryParams() {
            let queryParams = {};
            let searchParams = new URLSearchParams(window.location.search);

            for (let [key, value] of searchParams.entries()) {
                queryParams[key] = value;
            }

            return queryParams;
        }

        new Vue({
            el: '#app',
            data: {
                query: "",
                success: true,
                message: ""
            },
            computed: {
                code: function() {
                    return this.query.merchant_order_id || '';
                }
            },
            mounted: function() {
                this.query = getQueryParams();
                this.success = this.query.success == "true";
                this.message = this.query['data.message'];
                new QRCode(document.getElementById("qrcode"), this.code);
            }
        });
    </script>
</body>

</html>

